@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-retro: "VT323", monospace;
  --font-mono-retro: "Space Mono", monospace;
  --font-marker: "Permanent Marker", monospace;
  --font-dm: "DM Sams", sans-serif;

}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* overflow-x: hidden; */
  
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.80);
}

.scanlines {
  background: repeating-linear-gradient(
    0deg,
    rgba(0,0,0,0.1) 0px,
    rgba(0,0,0,0.1) 1px,
    transparent 1px,
    transparent 2px
  );
}

.rustBack{
  background: linear-gradient(to bottom, #d4d0b8, #C4C0AA, #a8a496);
}
.grid-bg {
  background-image: 
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 30px 30px;
}

.dot-grid {
  background-color: #f5f5f5;
  background-image: radial-gradient(circle, #a0a0a0 1px, transparent 1px);
  background-size: 20px 20px;
  box-shadow: 3px 2px 4px rgba(128, 128, 128, 0.712) inset, -3px -2px 4px rgba(128, 128, 128, 0.692) inset ;
}